@charset "UTF-8";
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

html {
  --brand-color1:	#6c9143;
  --brand-color2:	#ce8c55;
  --brand-color3:	#894994;
  --brand-black:	#1d1d1a;
  --grau-100:	#F2F2F3;
  --grau-200:	#E5E5E6;
  --grau-300:	#D7D9DA;
  --grau-400:	#BDBFC2;
  --grau-500:	#95999D;
  --grau-600:	#74787C;
  --grau-700:	#56595C;
  --grau-800:	#3D4042;
  --grau-900:	var(--brand-black);
  --base-color:	#fff;
  --text-color:	var(--grau-200);
  --text-color-light: #fff;
  --heading-color:	var(--brand-color1);
  --secondary-heading-color:	var(--brand-color2);
  --action:	var(--brand-color1);
  --action-respond:	var(--brand-color3);
  --alert-yellow:	#ff0;
  --alert-blue:	#00f;
  --alert-red:	#f00;
  --alert-green:	#0f0;
}

:root {
  --brand-color1-100: color-mix(in srgb, var(--brand-color1), white 80%);
  --brand-color1-200: color-mix(in srgb, var(--brand-color1), white 60%);
  --brand-color1-300: color-mix(in srgb, var(--brand-color1), white 40%);
  --brand-color1-400: color-mix(in srgb, var(--brand-color1), white 20%);
  --brand-color1-500: var(--brand-color1);
  --brand-color1-600: color-mix(in srgb, var(--brand-color1), black 20%);
  --brand-color1-700: color-mix(in srgb, var(--brand-color1), black 40%);
  --brand-color1-800: color-mix(in srgb, var(--brand-color1), black 60%);
  --brand-color1-900: color-mix(in srgb, var(--brand-color1), black 80%);
  --brand-color2-100: color-mix(in srgb, var(--brand-color2), white 80%);
  --brand-color2-200: color-mix(in srgb, var(--brand-color2), white 60%);
  --brand-color2-300: color-mix(in srgb, var(--brand-color2), white 40%);
  --brand-color2-400: color-mix(in srgb, var(--brand-color2), white 20%);
  --brand-color2-500: var(--brand-color2);
  --brand-color2-600: color-mix(in srgb, var(--brand-color2), black 20%);
  --brand-color2-700: color-mix(in srgb, var(--brand-color2), black 40%);
  --brand-color2-800: color-mix(in srgb, var(--brand-color2), black 60%);
  --brand-color2-900: color-mix(in srgb, var(--brand-color2), black 80%);
  --brand-color3-100: color-mix(in srgb, var(--brand-color3), white 80%);
  --brand-color3-200: color-mix(in srgb, var(--brand-color3), white 60%);
  --brand-color3-300: color-mix(in srgb, var(--brand-color3), white 40%);
  --brand-color3-400: color-mix(in srgb, var(--brand-color3), white 20%);
  --brand-color3-500: var(--brand-color3);
  --brand-color3-600: color-mix(in srgb, var(--brand-color3), black 20%);
  --brand-color3-700: color-mix(in srgb, var(--brand-color3), black 40%);
  --brand-color3-800: color-mix(in srgb, var(--brand-color3), black 60%);
  --brand-color3-900: color-mix(in srgb, var(--brand-color3), black 80%);
}

@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 100;
  src: url("/files/theme/fonts/advent-pro-v33-latin-100.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 100;
  src: url("/files/theme/fonts/advent-pro-v33-latin-100italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 200;
  src: url("/files/theme/fonts/advent-pro-v33-latin-200.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 200;
  src: url("/files/theme/fonts/advent-pro-v33-latin-200italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 300;
  src: url("/files/theme/fonts/advent-pro-v33-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 300;
  src: url("/files/theme/fonts/advent-pro-v33-latin-300italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/files/theme/fonts/advent-pro-v33-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 400;
  src: url("/files/theme/fonts/advent-pro-v33-latin-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 500;
  src: url("/files/theme/fonts/advent-pro-v33-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 500;
  src: url("/files/theme/fonts/advent-pro-v33-latin-500italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/files/theme/fonts/advent-pro-v33-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 600;
  src: url("/files/theme/fonts/advent-pro-v33-latin-600italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  src: url("/files/theme/fonts/advent-pro-v33-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 700;
  src: url("/files/theme/fonts/advent-pro-v33-latin-700italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 800;
  src: url("/files/theme/fonts/advent-pro-v33-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 800;
  src: url("/files/theme/fonts/advent-pro-v33-latin-800italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 900;
  src: url("/files/theme/fonts/advent-pro-v33-latin-900.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: italic;
  font-weight: 900;
  src: url("/files/theme/fonts/advent-pro-v33-latin-900italic.woff2") format("woff2");
}
/** Compiled with Theme Compiler */
html {
  --base-font-size: 18px;
  --doc-font-size: 18;
}

body {
  --font-family-sans:	"Advent Pro", Arial, "Droid sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-serif:	var(--font-family-sans);
  --font-family-display:	var(--font-family-sans);
  --font-family-default:	var(--font-family-sans);
  --fw-l:	300;
  --fw-n:	400;
  --fw-sb:	600;
  --fw-b:	700;
}

:root {
  --space-small: .5rem;
  --space-medium: 1rem;
  --space-large: 3rem;
  --space-xlarge: 6rem;
  --space-default: var(--space-medium);
}

.bg-light, #header {
  background-color: rgba(255, 255, 255, 0.0392156863);
}

.bg-dark {
  background-color: var(--grau-800);
  --text-color: #fff;
  --heading-color: #fff;
  --action: #fff;
}

.bg-primary {
  background-color: var(--brand-color1);
  --text-color: #fff;
  --heading-color: #fff;
  --action: #fff;
}

.bg-secondary {
  background-color: var(--brand-color2);
  --text-color: #fff;
  --heading-color: #fff;
  --action: #fff;
}

.bg-pattern-dots {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.bg-pattern-paper {
  background: radial-gradient(circle at 10% 20%, rgba(0, 0, 0, 0.06), transparent 35%), radial-gradient(circle at 90% 30%, rgba(0, 0, 0, 0.05), transparent 40%), radial-gradient(circle at 30% 90%, rgba(0, 0, 0, 0.04), transparent 45%), linear-gradient(135deg, rgba(0, 0, 0, 0.04), transparent 40%), linear-gradient(315deg, rgba(0, 0, 0, 0.03), transparent 45%), linear-gradient(#fbf7ef, #f3ecdf);
  background-blend-mode: multiply, multiply, multiply, multiply, multiply, normal;
}

:root {
  --border-radius-global: calc(car(--space-default) / 4);
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible, .ce_form .widget-radio .radio_container > span input, .ce_form .widget-checkbox .checkbox_container > span input {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.invisibleAccessible,
.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.flexit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-text {
  text-align: center;
}
.center-block {
  margin-inline: auto;
}
.center-all {
  text-align: center;
  margin-inline: auto;
}

.listreset, .content-downloads ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "“" "”" "‘" "’";
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
b, strong, .strong {
  font-weight: bold;
}

em, .em {
  font-style: italic;
}

small {
  font-size: 75%;
}

dd {
  margin: 0;
}

html {
  font-size: 100%;
  font-family: var(--font-family-default);
}
@media screen and (min-width: 768px) {
  html {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 125%;
  }
}

html,
body {
  font-family: var(--font-family-default);
  font-weight: var(--fw-n);
  line-height: 1.5;
  color: var(--text-color);
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
p {
  color: var(--text-color);
}
p:not(:last-child) {
  margin: 0 0 0.75em 0;
}

::-moz-selection {
  background: var(--grau-500);
  color: #fff;
  text-shadow: none;
}

::-moz-selection,
::selection {
  background: var(--grau-500);
  color: #fff;
  text-shadow: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
  text-wrap: balance;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  text-decoration: none;
  color: inherit;
}

:where([class^=content-]:is(h2, h3, h4, h5, h6):first-of-type,
.ce_cp_column_start:is(h2, h3, h4, h5, h6):first-of-type) {
  margin-top: 0;
}

h1, .h1 {
  font-family: var(--font-family-display);
  font-weight: var(--fw-sb);
  color: var(--heading-color);
  margin: 0 0 0.5em 0;
  font-size: clamp(28 / var(--doc-font-size) * 1rem, 1.5rem + 1.5vw, 48 / var(--doc-font-size) * 1rem);
}

h2, .h2 {
  font-family: var(--font-family-display);
  font-weight: var(--fw-n);
  color: var(--secondary-heading-color);
  margin: 0 0 0.5em 0;
  font-size: clamp(22 / var(--doc-font-size) * 1rem, 1.2rem + 0.9vw, 36 / var(--doc-font-size) * 1rem);
}

h3, .h3 {
  font-family: var(--font-family-display);
  font-weight: var(--fw-n);
  color: var(--heading-color);
  margin: 0 0 0.5em 0;
  font-size: clamp(20 / var(--doc-font-size) * 1rem, 1.15rem + 0.5vw, 28 / var(--doc-font-size) * 1rem);
}

h4, .h4 {
  font-family: var(--font-family-display);
  font-weight: var(--fw-b);
  color: var(--heading-color);
  margin: 0.75em 0 0.5em 0;
  font-size: clamp(18 / var(--doc-font-size) * 1rem, 1.05rem + 0.4vw, 24 / var(--doc-font-size) * 1rem);
}

h5, .h5 {
  font-family: var(--font-family-display);
  font-weight: var(--fw-b);
  color: var(--secondary-heading-color);
  margin: 0.75em 0 0.5em 0;
  font-size: clamp(16 / var(--doc-font-size) * 1rem, 0.95rem + 0.3vw, 22 / var(--doc-font-size) * 1rem);
}

h6, .h6 {
  font-family: var(--font-family-display);
  font-weight: var(--fw-b);
  color: var(--secondary-heading-color);
  margin: 0.75em 0 0.5em 0;
  font-size: calc(20 / var(--doc-font-size) * 1rem);
}

img, picture {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

figure {
  line-height: 0;
  margin: 0;
  display: block;
}

figcaption {
  line-height: 1.2;
}

figure img {
  display: block;
}

figcaption {
  display: inline-block;
  caption-side: bottom;
  font-style: italic;
  padding: 0.375rem 0;
  font-size: 0.875rem;
  color: var(--grau-500);
}

/*Alle Bilder ohne Alt-Attribut kennzeichen*/
/*sollte für Production auskommentiert werden!*/
/*Behebt Probleme mit responsiven Bildern
//https://community.contao.org/de/showthread.php?81074-Problem-mit-Bildgr%C3%B6%C3%9Fen-bei-responsive-Ausgabe-(seit-Kurzem)&p=545407&viewfull=1#post545407
*/
:where(source[width][height] ~ img) {
  width: auto;
  height: auto;
}

a {
  color: var(--action);
  text-decoration: underline;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover, a:focus {
  color: var(--action-respond);
}

:focus-visible {
  outline: 1px dashed var(--grau-700);
}

a[href^=tel] {
  text-decoration: none;
  color: var(--text-color);
}

a:has(img) {
  display: block;
}

ul li, ol li, dl li {
  color: inherit;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

[class^=icon] {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  vertical-align: sub;
}
[class^=icon] + span {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}

html {
  background: url("/files/theme/img/denim.webp") repeat;
}

body {
  margin: 0 auto;
}

.wrapper {
  min-height: 100dvh;
}

.wrap, .mod_article .wrap-article, #footer .inside, #header .inside {
  max-width: 1440;
  margin: 0 auto;
}
@media screen and (max-width: calc(1440px + 2rem)px) {
  .wrap, .mod_article .wrap-article, #footer .inside, #header .inside {
    padding: 0 var(--space-default) 0 var(--space-default);
  }
}

.container {
  position: relative;
}

/*
.inside {

} */
#header {
  color: var(--grau-900);
  padding: var(--space-small);
}
#header * {
  margin: 0;
}

#footer {
  --text-color: #fff;
  --action: #fff;
  background-color: var(--grau-800);
  padding: var(--space-default);
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  #footer {
    padding: var(--space-large) var(--space-default);
  }
}
@media screen and (min-width: 1200px) {
  #footer {
    padding: var(--space-xlarge) var(--space-default);
  }
}
@media screen and (min-width: calc(1440px + 2rem)px) {
  #footer {
    padding: var(--space-xlarge) 0;
  }
}
.mod_article {
  padding: var(--space-default) 1rem var(--space-default) 1rem;
  background-color: rgba(255, 255, 255, 0.0196078431);
}
@media screen and (min-width: 768px) {
  .mod_article {
    --space-default: var(--space-large);
  }
}
@media screen and (min-width: calc(1440px + 2rem)px) {
  .mod_article {
    --space-default: var(--space-large);
    padding-inline: 0;
  }
}
.mod_article .wrap-article {
  position: relative;
  padding-inline: 0;
}
.mod_article.nopadding {
  padding: 0;
}
.mod_article.full-width .wrap-article {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.mod_article.userarea {
  text-align: center;
  color: #fff;
}

.flexit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Direction */
}
.flexit.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.flexit.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flexit.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flexit.col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.flexit {
  /* Wrap */
}
.flexit.wrap, #header .flexit.inside, #footer .flexit.inside, .mod_article .flexit.wrap-article {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flexit.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.flexit.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.flexit {
  /* Justify (main axis) */
}
.flexit.jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flexit.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flexit.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flexit.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexit.jc-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flexit.jc-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.flexit {
  /* Align (cross axis) */
}
.flexit.ai-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flexit.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexit.ai-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flexit.ai-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flexit.ai-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.flexit {
  /* Align content (multi-line / wrap) */
}
.flexit.ac-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.flexit.ac-center {
  -ms-flex-line-pack: center;
      align-content: center;
}
.flexit.ac-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
.flexit.ac-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.flexit.ac-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
.flexit.ac-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
.flexit {
  /* Gap */
}
.flexit.gap-0 {
  gap: 0;
}
.flexit.gap-1 {
  gap: 0.25rem;
}
.flexit.gap-2 {
  gap: 0.5rem;
}
.flexit.gap-3 {
  gap: 0.75rem;
}
.flexit.gap-4 {
  gap: 1rem;
}
.flexit.gap-6 {
  gap: 1.5rem;
}
.flexit.gap-7 {
  gap: 2rem;
}

nav ul,
.subnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li,
.subnav li {
  position: relative;
}
nav a,
.subnav a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
nav a:hover, nav a:focus,
.subnav a:hover,
.subnav a:focus {
  color: var(--action-respond);
}

.mainnav {
  --link-space-inner-v: 0.2rem;
  --link-space-inner-h: 1rem;
  --bg-nav: #fff;
}
.mainnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-nav);
}
.mainnav ul ul {
  display: none;
  position: absolute;
  z-index: 5;
}
.mainnav li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.mainnav a {
  padding: var(--link-space-inner-v) var(--link-space-inner-h);
}
.mainnav ul > li:hover > ul, .mainnav ul > li:focus > ul {
  display: block;
}
.mainnav .level_3 {
  left: 100%;
  top: 0;
}

/* Contao elements */
[class*=content-] {
  margin-bottom: var(--space-large);
  background-color: rgba(255, 255, 255, 0.0196078431);
  padding: 0.3rem;
  border-radius: 8px;
}

.content-headline.centered {
  text-align: center;
}

blockquote {
  padding: 0.25rem 0 1rem 0;
  margin: 0;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--grau-700);
}
blockquote p {
  margin: 0;
  color: inherit;
  font-size: inherit;
}

.button {
  --button-bg__primary: var(--brand-color1);
  --button-bg__secondary: var(--brand-color2);
  --button-color__light: var(--text-color-light);
  --button-color: var(--text-color);
  --button-border__primary__color: var(--brand-color1);
  --button-border__secondary__color: var(--brand-color2);
  --button-border__width: 1px;
  --button-border__style: solid;
  --button-border__default: var(--button-border__width) var(--button-border__style) var(--button-bg__primary);
  --button-border__radius: 15px 15px 15px 15px;
  --button-color-transition-time: .3s;
}

.button {
  display: inline-block;
}
.button.centered {
  display: block;
  text-align: center;
}
.button.centered a {
  display: inline-block;
}
.button a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  border: var(--button-border__default);
  border-radius: var(--button-border__radius);
  text-decoration: none;
  background-color: none;
  color: var(--button-color);
  -webkit-transition: background-color var(--button-color-transition-time);
  transition: background-color var(--button-color-transition-time);
}
.button a:hover, .button a:focus {
  border: var(--button-border__default);
  border-color: var(--brand-color1-800, var(--grau-900));
  color: var(--button-color);
  background-color: inherit;
}
.button.primary a {
  background-color: var(--button-bg__primary);
  color: var(--button-color__light);
}
.button.primary a:hover, .button.primary a:focus {
  background-color: var(--brand-color1-700, var(--grau-800));
}
.button.secondary a {
  background-color: var(--button-bg__secondary);
  color: var(--button-color__light);
}
.button.secondary a:hover, .button.secondary a:focus {
  background-color: var(--brand-color2-700, var(--grau-800));
  border-color: var(--brand-color2-800, var(--grau-900));
}

@media screen and (min-width: 768px) {
  .content-text.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.content-text.media.media--above {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-text.media.media--above figure {
  margin-bottom: var(--space-default);
}
.content-text.media.media--right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-text.media.media--right > h1,
.content-text.media.media--right > h2,
.content-text.media.media--right > h3,
.content-text.media.media--right > h4,
.content-text.media.media--right > h5,
.content-text.media.media--right > h6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.content-text.media.media--right .rte {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.content-text.media.media--right figure {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-left: var(--space-default);
}
.content-text.media.media--below {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-text.media.media--below figure {
  margin-top: var(--space-default);
}
.content-text.media--left {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-text.media--left > h1,
.content-text.media--left > h2,
.content-text.media--left > h3,
.content-text.media--left > h4,
.content-text.media--left > h5,
.content-text.media--left > h6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.content-text.media--left .rte {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.content-text.media--left figure {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: var(--space-default);
}

.video_container .responsive {
  position: relative;
  overflow: hidden;
  max-width: 960px;
}
.video_container .responsive:hover {
  cursor: pointer;
}
.video_container .responsive iframe,
.video_container .responsive object,
.video_container .responsive embed {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: inherit;
  border: none;
}
.video_container .responsive.ratio-169 {
  aspect-ratio: 16/9;
}
.video_container .responsive.ratio-43 {
  aspect-ratio: 4/3;
}
.video_container .responsive.ratio-916 {
  aspect-ratio: 9/16;
}

.content-player:not(:has(audio)) figure,
.content-youtube figure,
.content-vimeo figure {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.content-player:not(:has(audio)) video,
.content-youtube video,
.content-vimeo video {
  width: 100%;
  height: 100%;
  aspect-ratio: inherit;
}
.content-player:not(:has(audio)) iframe,
.content-player:not(:has(audio)) object,
.content-player:not(:has(audio)) embed,
.content-youtube iframe,
.content-youtube object,
.content-youtube embed,
.content-vimeo iframe,
.content-vimeo object,
.content-vimeo embed {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: inherit;
  border: none;
}

.content-player:has(audio) * {
  font-size: 1rem;
}
.content-player:has(audio) {
  padding: 1rem;
}

.content-download,
.content-downloads {
  --download-color: var(--brand-black);
  --download-background: var(--grau-100);
  --download-border-weight: 1px;
  --download-border-style: solid;
  --download-border-color: var(--brand-color1);
  --download-border-radius: 10px;
  --download-action-color: #ffffff;
  --download-action-background: var(--grau-700);
  --download-action-border-color: var(--brand-color1);
}

.content-download {
  display: inline-block;
}
.content-download:not(:has(figure)) a {
  display: block;
  padding: 0.5em 0.5em 0.5em 2.5rem;
  color: var(--download-color);
  background-color: var(--download-background);
  border: var(--download-border-weight) var(--download-border-style) var(--download-border-color);
  border-radius: var(--download-border-radius);
  background-repeat: no-repeat;
  background-position: left 0.25rem center;
  background-size: 1.5rem;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content-download:not(:has(figure)) a:hover, .content-download:not(:has(figure)) a:focus {
  border-color: var(--download-action-border-color);
  background-color: var(--download-action-background);
  color: var(--download-action-color);
}
.content-download {
  /* Display the extension as file*/
}
.content-download.download-element a {
  padding: 0.5rem;
}
.content-download.download-element a:before {
  content: attr(data-type);
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  width: 1.2rem;
  font-size: 8px;
  line-height: 240%;
  text-align: center;
  border: 1px solid var(--download-border-color);
  border-radius: 5px 2px 2px 2px;
  padding: 0.2rem;
  margin-right: 0.3rem;
}
.content-download.download-element:has(figure) {
  border: var(--download-border-weight) var(--download-border-style) var(--download-border-color);
  border-radius: var(--download-border-radius);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--download-background);
}
.content-download.download-element:has(figure) h1, .content-download.download-element:has(figure) h2, .content-download.download-element:has(figure) h3, .content-download.download-element:has(figure) h4, .content-download.download-element:has(figure) h5, .content-download.download-element:has(figure) h6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0;
  text-align: center;
  background: var(--grau-200);
  font-size: 1rem;
  padding: 0.2rem;
}

.content-downloads ul {
  background-color: var(--grau-200);
  border: var(--download-border-weight) var(--download-border-style) var(--download-border-color);
  border-radius: var(--download-border-radius);
  padding: 1rem;
  display: inline-block;
}
.content-downloads li {
  padding: 0.3rem 0.6rem 0.3rem 1.3rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiM4ODg4ODgiIGQ9Ik0xOSA5aC00VjNIOXY2SDVsNyA3bDctN3pNNSAxOHYyaDE0di0ySDV6Ii8+PC9zdmc+) left 0.3rem top 0.7em no-repeat;
  margin-bottom: 1px;
  background-color: var(--grau-100);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.content-downloads li:hover, .content-downloads li:focus-within {
  background-color: var(--grau-300);
}
.content-downloads a {
  display: block;
  text-decoration: none;
  color: var(--download-color);
}

.ce_form {
  /*Variable Werte für Grundstyle*/
  --field-border-color:	#000000;
  --field-background:	var(--grau-100);
  --field-color:	var(--text-color);
  --label-color:	var(--text-color);
  --field-alert-color:	red;
  --field-valid-color:	var(--text-color);
  --field-invalid-color:	var(--grau-800);
  --field-border-radius:	var(--border-radius-global);
  --field-border-width:	1px;
  --field-border-style:	solid;
  --field-padding:	.6em;
  --checkbox-size:	20px;
  --abstand-widget:	.5em;
  --color-rangeslider:	var(--text-color);
  --submit-background: var(--brand-color3);
  --submit-color: var(--text-color-light);
}

/*Klassen für @extend*/
.fieldreset, .ce_form .widget-checkbox.dsgvo fieldset {
  border: none;
  padding: 0;
}

/*Basic Styles*/
.ce_form input,
.ce_form label {
  display: block;
}
.ce_form label,
.ce_form legend {
  color: var(--label-color);
}
.ce_form label span.mandatory,
.ce_form legend span.mandatory {
  color: var(--field-alert-color);
}
.ce_form input,
.ce_form textarea {
  width: 100%;
  border: var(--field-border-width) var(--field-border-style) var(--field-border-color);
  padding: var(--field-padding);
  background-color: var(--field-background);
  color: var(--field-colord);
  border-radius: var(--field-border-radius);
}
.ce_form input:focus,
.ce_form textarea:focus {
  background: hsl(var(--field-background), calc(var(--l) - 2%));
}
.ce_form input:valid {
  color: var(--field-valid-color);
}
.ce_form input:invalid {
  color: var(--field-invalid-color);
}
.ce_form fieldset {
  border: var(--field-border-width) var(--field-border-style) var(--field-border-color);
}
.ce_form .widget {
  margin-bottom: var(--abstand-widget);
}
.ce_form .widget-checkbox .checkbox_container > span {
  display: block;
  position: relative;
}
.ce_form .widget-checkbox .checkbox_container > span label {
  padding-left: 30px;
}
.ce_form .widget-checkbox .checkbox_container > span label::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  border: var(--field-border-width) var(--field-border-style) var(--field-border-color);
  background: var(--field-background);
  text-align: center;
  cursor: pointer;
}
.ce_form .widget-checkbox .checkbox_container > span input:checked ~ label::before {
  content: "✔ ";
  line-height: 1;
  font-size: var(--checkbox-size);
}
.ce_form .widget-checkbox.dsgvo legend {
  display: none;
}
.ce_form .widget-radio .radio_container > span {
  display: block;
  position: relative;
}
.ce_form .widget-radio .radio_container > span label {
  padding-left: 30px;
}
.ce_form .widget-radio .radio_container > span label::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  border-radius: 50%;
  border: var(--field-border-width) var(--field-border-style) var(--field-border-color);
  background: var(--field-background);
  text-align: center;
  cursor: pointer;
}
.ce_form .widget-radio .radio_container > span input:checked ~ label::before {
  content: "✔ ";
  line-height: 1;
  font-size: var(--checkbox-size);
}
.ce_form .widget-submit button {
  background: var(--submit-background);
  color: var(--submit-color);
  padding: var(--field-padding);
  border: var(--field-border-width) var(--field-border-style) var(--field-border-color);
  border-radius: var(--field-border-radius);
  cursor: pointer;
}
.ce_form .widget-submit button:hover {
  background: hsl(var(--field-background), calc(var(--l) - 2%));
}
.ce_form .widget-select,
.ce_form .ctlg_form_field.select {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ce_form .widget-select::after,
.ce_form .ctlg_form_field.select::after {
  content: "▼";
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 0.2em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  color: var(--field-colord);
}
.ce_form .widget-select label,
.ce_form .ctlg_form_field.select label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.ce_form .widget-select select,
.ce_form .ctlg_form_field.select select {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  padding: var(--field-padding);
  border: var(--field-border-width) var(--field-border-style) var(--field-border-color);
  background: var(--field-background);
  color: var(--field-colord);
  cursor: pointer;
  border-radius: var(--field-border-radius);
}
.ce_form .widget-select select option,
.ce_form .ctlg_form_field.select select option {
  padding: var(--field-padding);
  color: var(--field-colord);
}
.ce_form .widget-select select,
.ce_form .ctlg_form_field.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.ce_form .widget-range .range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 25px;
  background: var(--field-background);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.ce_form .widget-range .range:hover, .ce_form .widget-range .range:focus {
  opacity: 1;
}
.ce_form .widget-range .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--color-rangeslider);
  cursor: pointer;
}
.ce_form .widget-range .range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--color-rangeslider);
  cursor: pointer;
}