/* Contao elements */
[class*="content-"] {
	margin-bottom: var(--space-large);
	background-color: #ffffff05;
	padding: var(--space-content);
	border-radius: 8px;
}

.content-headline {
	&.centered {
		text-align: center;
	}
}

blockquote {
	padding: .25rem 0 1rem 0;
	margin: 0;
	font-size: 1.5rem;
	font-style: italic;
	color: var(--grau-700);

	p {
		margin: 0;
		color: inherit;
		font-size: inherit;
	}
}

// .content-image {}

// .content-hyperlink {}