dl {
	display: flex;
	flex-flow: wrap;
	border: solid var(--grau-800);
	border-width: 1px 1px 0 0;

	dt {
		flex-basis: 100%;
		@media screen and (min-width: #{$bp-s}px) {
			flex-basis: 20%;
		}
		background: var(--grau-800);
		color: var(--text-color-light);
		padding: .3rem;

		&:not(:last-of-type) {
			border-bottom: 1px solid var(--grau-100);
		}
	}
	dd {
		flex-basis: 100%;
		@media screen and (min-width: #{$bp-s}px) {
			flex-basis: 70%;
		}
		flex-grow: 1;
		margin: 0;
		border-bottom: 1px solid var(--grau-800);
		padding: .3rem;
	}
}