nav,
.subnav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
		white-space: nowrap;

		&:hover,
		&:focus {
			color: var(--action-respond);
		}
	}
}

.mainnav {
	--link-space-inner-v: 0.2rem;
	--link-space-inner-h: 1rem;
	--bg-nav: #ffffff24;
	--color-nav: var(--brand-color1);
	--rim-color: rgba(255, 255, 255, 0.267);
	--spoke-color: var(--rim-color);

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		gap: .5rem
	}

	li {
		flex: 0 0 auto;
		align-content: center;
	}

a {
	// position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100px;
	aspect-ratio: 1;
	border-radius: 50%;

	background: transparent;
	color: var(--color-nav);
	text-decoration: none;
	font-weight: 600;
	text-align: center;

	overflow: hidden;

	/* FELGE + SPEICHEN */
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 50%;

		border: 3px solid var(--rim-color);

		background:
			repeating-conic-gradient(
				from 0deg,
				var(--spoke-color) 0deg 1.5deg,
				transparent 1.5deg 30deg
			);

		transition: transform 0.6s ease;
	}

	/* NABE */
	&::after {
		content: "";
		position: absolute;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: var(--rim-color);
	}

	/* HOVER */
	&:hover::before {
		transform: rotate(45deg);
	}
}




	ul {
		> li {
			&:hover,
			&:focus {
				> ul {
					display: block;
				}
			}
		}
	}

	.level_3 {
		left: 100%;
		top: 0;
	}
}
