@media print {

	body {
		font: 13pt Arial, sans-serif;
		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}

	nav,
	form,
	iframe,
	object {
		display: none;
		display: none !important;
		width: 0px !important;
		height: 0px !important;
		position: static !important;
		overflow: hidden !important;
		line-height: 0pt !important;
		white-space: nowrap;
	}

	#header {
		box-shadow: none;
		margin: 0;
	}

	a[href^=http]:after {
		content:" <" attr(href) "> ";
	}
}